<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weight Validation</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="validation.js" defer></script>
</head>
<body>

<main id="main">
    <section>
        <div>
            <form class="add-form">
                <fieldset>
                    <label for="weight">
                        <h2>Weight</h2>
                    </label>
                    <input placeholder="Enter your weight" v-model="weight" @blur="touchField" @input="validateWeight"
                           id="weight" type="text">
                    <p v-if="errorMessage">
                        {{ errorMessage }}
                    </p>
                </fieldset>
                <fieldset>
                    <button v-bind:disabled="errorMessage || weight == ''" type="button">SEND</button>
                </fieldset>
            </form>
        </div>
    </section>
</main>
</body>
</html>