body {
    background-image: url("/img/bear.jpg");
    background-size: cover;
    background-position: center;
}

body {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
    margin: 2em;
    /*background: #666666;*/
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}


#calculator {
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 33px;
    background-color: rgba(0, 169, 255,0.5);
}

.error {
    color: red;
    margin-top: 10px;
}

input {
    width: 200px;
    height: 25px;
    margin: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inputBox {
    position: relative;
}

.inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #212121;
    border: 1px solid#212121;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    background: #e8e8e8;
    letter-spacing: 1px;
    border: 1px solid #212121;
    color: #212121;
}

button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

span {
    display: inline-block;
    /*transform: skew(21deg);*/
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover {
    color: #fff;
}

button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: #4c8bf5;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #4c8bf580;
}

.radio-button__input:checked + .radio-button__label {
    color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 20px #4c8bf580;
}

/*Simple reset*/
* {margin: 0; padding: 0;}
canvas {
    display: block;
}